/* baggrund design */
body {background-color: #ccddea}

/* overskrift h1 design */
h1 {font-style: italic;
color:#79a5c8}

/* h2 design */
h2
{font-style: italic;} 

/* h3 design */
h3
{font-style: italic;} 

/* p design */
p
{font-style: italic;}    
   